* {
	font-family: Verdana, sans-serif;
	font-size: 20px;
}

h1 {
	font-size: 3rem;
}

#onlyH2 {
	text-transform: uppercase;
}

#externalStyle {
	color: rgb(245, 215, 20);
}

.languagesList {
	background-color: rgb(148, 237, 126);
}

.toolsList {
	border: 2px rgb(35, 39, 235) solid;
}

img + ul { 
	list-style-type: none;
}

section img {
	height: 20vh;
	width:  20vh;
	border-radius: 150px;
}

h4 ~ p {
	text-align: center;
}

section > ul > li {
	letter-spacing: 10px;
}